@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;600&display=swap');

*{
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

$yellow: #eacf4f;
$white: #fff;
$bgColor: #111111;
$black: #000;
$light-color: #aaa;
$border: .2rem solid rgba(255, 255, 255, .3);

@mixin title-text($titleSize) {
    font-size: $titleSize;
    text-transform: capitalize;
    color: $white;
}

@mixin grap-text($grapSize) {
    font-size: $grapSize;
    line-height: 1.5;
    color: $light-color;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background: $black;
    }

    &::-webkit-scrollbar-thumb{
        background: $white;
        border-radius: 5rem;
    }
    
}

body{
    background: $bgColor;
    color: $white;
}

.heading{
    display: flex;
    justify-content: space-between;
    padding: 10px;

    h3{
        @include title-text(1.8rem);
        font-weight: 500;
    }

    p{
        @include grap-text(1.2rem);
        cursor: pointer;
    }
}

a{
    color: $white;
}

.loading{
    background: url(../image/header.jpg) no-repeat center center / cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .content{
        text-align: center;
        animation-name: load;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        @keyframes load {
            0%{
                opacity: 0;
            }

            50%{
                opacity: 1;
            }

            100%{
                opacity: 0;
            }
        }

        h1{
            @include title-text(2.5rem);
        }

        p{
            @include grap-text(1.5rem);
            margin-top: .5rem;
        }
    }
}

.single_search{
    display: none;
}

.home,
.movies{
    margin-top: 7rem;
}

.cards{
    @include grid(200px);
    padding: 10px;
}

.card{
    position: relative;
    overflow-y: hidden;

    img{
        width: 100%;
        object-fit: cover;
    }

    .content{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(0, 0, 0, 0.7);
        padding: 15px 5px;

        h2{
            @include title-text(1.6rem);
            font-weight: 500
        }

        p{
            font-size: 1.5rem;
        }

        .date{
            font-size: 1.2rem;
            color: $light-color;
        }

        .star{
            color: $yellow;
            margin-right: .5rem;
        }
    }
}

.single_card{
    margin-top: 70px;

    .card_back{
        width: 100%;
        height: 450px;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content{
            position: absolute;
            bottom: 30px;
            left: 20px;

            h2{
                @include title-text(2.2rem)
            }

            p{
                @include grap-text(1.8rem)
            }
        }
    }

    .text_content{
        @include grap-text(1.5rem);
        margin-top: 1rem;
        padding: 0 10px;

        .rating{
            color: $yellow;
            margin-top: .5rem;
            margin-bottom: 20px;
        }
    }
}

.single_card .cover-grad{
    background: linear-gradient(
        156.82deg,
        rgba(0, 0, 0, 0.6) 4.58%,
        rgba(0, 0, 0, 0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
}

.other_title{
    @include title-text(1.6rem);
    font-weight: 500;
    padding-left: 10px;
    margin-top: 20px;
}

.other_cards{
    @include grid(200px);
    margin: 20px 10px;
    overflow: hidden;

    .card{
        cursor: pointer;
        &:hover .content{
            transform: translateY(0);
        }

        .content{
            padding: 10px 5px;
            transform: translateY(10rem);

            h2{
                @include title-text(1.3rem);
                font-weight: 500
            }
    
            p{
                font-size: 1.1rem;
            }
        }
    }
}

@import './navbar';
@import './sidebar';
@import './media';